@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* //////// HOME PAGE ///////// */

/* font-family: 'Zen Tokyo Zoo', cursive; */

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: #3a3a3a;
  width: 100%;
}

/* headings */

.header {
  background-color: #bf1363;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  padding: 10px;
}

#visit {
  font-family: "Zen Tokyo Zoo", cursive;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: white;
  font-size: 250%;
  text-decoration: none;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #bf1363;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  color: white;
  font-size: 120%;
}

.header li a:hover,
.header .menu-btn:hover {
  text-decoration: underline solid white;
}

.header .logo {
  display: block;
  float: left;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: white;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: white;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* Background  */

#background-top {
  background-image: url("../images/people-make-glasgow.jpeg");
  height: 600px;
  background-position: center 40%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Whats on Section */

#explore {
  height: 100%;
  margin-bottom: 20px;
}

#whatson {
  text-align: center;
  margin: 20px 0;
  font-size: 280%;
  text-transform: uppercase;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex: 20%;
  max-width: 50%;
  padding: 30px 10px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.column > a:link,
.column a:visited {
  color: #3a3a3a;
  text-decoration: none;
}

.column > a:hover {
  text-decoration: underline solid #3a3a3a;
}

/* footer */

footer {
  height: 100%;
  width: 100%;
  background-color: #fb9300;
  display: flex;
  flex-wrap: wrap;
}

#social h2 {
  font-size: 150%;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #3a3a3a;
}

#social i {
  font-size: 170%;
  margin: 1%;
  color: #3a3a3a;
}

#social2,
#news-letter,
#contact {
  padding: 10px;
  margin: 10px;
}

#signup {
  padding-top: 10px;
}

.signup-submit {
  width: 150px;
  font-family: inherit;
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5%;
}

.signup-submit {
  background-color: white;
  color: black;
}

.signup-submit:hover {
  background-color: #3a3a3a;
  color: white;
}

/* //////// EXPLORE PAGE ///////// */

/* Background image & front text Box */

#background2 {
  background-image: url(../images/museam.jpeg);
  height: 600px;
  background-position: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#background-text {
  color: #3a3a3a;
  font-size: 120%;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  letter-spacing: 4px;

  width: 400px;
  height: 100px;

  padding: 20px;

  background-color: #fb9300;

  bottom: 30px;
  right: 30px;
  position: absolute;
}

/* Tourist Info Section */

#tourist h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 200%;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 10px;
  text-transform: uppercase;
}

#tourist {
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
  margin: 0 auto;
}
.container {
  display: flex;
  flex-direction: row;
  border-top: 1px solid #3a3a3a;
  padding: 10px;
}
.container2 {
  display: flex;
  flex-direction: row-reverse;
  border-top: 1px solid #3a3a3a;
  padding: 10px;
}
.image img {
  margin-top: 8px;
  vertical-align: middle;
  width: 400px;
}

.container p {
  font-size: 130%;
  padding: 10px;
}
.container2 p {
  font-size: 130%;
  padding: 10px;
}

.image a:link,
.image > a:visited {
  color: #3a3a3a;
  text-decoration: none;
}

.image a:hover {
  text-decoration: underline solid #3a3a3a;
}

.image h2 {
  padding: 10px 0;
}

/* //////// NEWS LETTER PAGE ///////// */

/* Background Image & Sign Up Form */

#news-background {
  background-image: url("../images/main-street.jpeg");
  height: 600px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#news-area {
  height: 100%;
  padding: 40px 20%;
}

.container-form {
  border-radius: 5px;
  background-color: #fb9300;
  padding: 20px;
}

.container-form h2 {
  font-family: "Zen Tokyo Zoo", cursive;
  font-size: 200%;
  text-transform: uppercase;
  text-align: center;
}

input {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: white;
  color: #3a3a3a;
  border-radius: 4px;
  cursor: pointer;
}

.label-text,
.news-submit {
  font-size: 130%;
}

input[type="submit"]:hover {
  background-color: #3a3a3a;
  color: white;
}

/* Responsive Styles */

@media (min-width: 800px) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}

@media screen and (max-width: 950px) {
  .column {
    flex: 35%;
    max-width: 70%;
    margin: 0 auto;
  }

  .header li a {
    font-size: 90%;
  }

  .container {
    flex-direction: column;
    text-align: left;
  }
  .container2 {
    flex-direction: column;
    text-align: left;
  }
  .container p {
    padding: 0;
  }
  .container2 p {
    padding: 0;
  }
  #cover-text {
    left: 0;
  }
  #background-text {
    left: 0;
  }
  #background-text {
    width: 190px;
    height: 100px;
    font-size: 80%;
    left: 0;
  }
  #tourist h1 {
    font-size: 150%;
  }

  #visit {
    font-size: 150%;
  }

  #news-area {
    padding: 40px 0;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  #whatson {
    font-size: 180%;
  }
  #background2,
  #background-top, #newsbackground {
    background-position: top center;
    height: 500px;
  }
  .image img {
    margin-top: 8px;
    vertical-align: middle;
    width: 270px;
  }
}
